#mainpageYourProfileButton {
    width: 200px;
    height: 175px;
    float: left;
}
#mainpageFindMatchButton {
    width: 200px;
    height: 175px;
    float: left;
}
#mainpageMessagesButton {
    width: 200px;
    height: 175px;
    float: left;
}